.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 40px 0;  
  text-align: center;
}

.titles{
  margin: 18px 0 10px;
}

.title h2{
  margin: 0;
}

.subtitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.button{
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px 10px;
  border-radius: 12px;
  font-weight: 400;
  max-width: 500px;
  width: 100%;
}

.cards{
  display: flex;
  justify-content: center;
  width: 100%;
}
