.our-products__container{
    padding: 80px 150px 80px 150px;
}

.our-products__header{
    display: flex;
    flex-direction: column;
}

.our-products__title{
    font-size: 48px;
    font-family: "Playfair", serif;
    font-weight: 700;
    color: #102239;
}

.our-products__subtitle-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.our-products__subtitle{
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #5c6b7a;
}

.our-products__button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    border-radius: 12px;
    border: 2px solid #cfd8e5;
    background-color: transparent;
    gap: 10px;
    cursor: pointer;
}

.our-products__button:hover{
    background-color: #003d89;
    color: white;
    transition: 0.2s;
}
