.our-products__container{
    width: 100%;
    padding: 80px 200px 80px;
}

.our-products__header{
    display: flex;
    flex-direction: column;
}

.our-products__title{
    font-size: 48px;
    font-family: "Playfair", serif;
    font-weight: 700;
    color: #102239;
}

.our-products__subtitle-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.our-products__subtitle{
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #5c6b7a;
}

.our-products__button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    padding: 0 16px;
    border-radius: 12px;
    border: 2px solid #cfd8e5;
    background-color: transparent;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.our-products__button:hover{
    background-color: #003d89;
    color: white;
    transition: 0.2s;
}

.our-products__products-cards{
    width: 100%;
}

@media screen and (min-width: 1750px){
    .our-products__container{
        padding: 80px 320px 80px;
    }
}

@media screen and (min-width: 2000px){
    .our-products__title{
        font-size: 62px;
    }

    .our-products__subtitle{
        font-size: 24px;
    }

    .our-products__button{
        font-size: 20px;
        padding: 8px 16px;
    }
}

@media screen and (min-width: 2200px){
    .our-products__container{
        padding: 80px 400px 80px;
    }
}

@media screen and (min-width: 2500px){
    .our-products__container{
        padding: 80px 530px 80px;
    }
}

@media screen and (min-width: 2800px){
    .our-products__container{
        padding: 80px 650px 80px;
    }
}

    .our-products__title{
        font-size: 68px;
    }

    .our-products__subtitle{
        font-size: 28px;
    }

    .our-products__button{
        font-size: 26px;
        padding: 10px 18px;
    }


