.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
}

.content{

}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 40px 0;  
  text-align: center;
  width: 100%;
}

.title h2{
  margin: 0;
}

.subtitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.button{
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px 10px;
  border-radius: 12px;
  font-weight: 400;
  max-width: 500px;
  width: 100%;
}

.cards{
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 1024px){
  .content{
    max-width: clamp(500px, 80vw, 1000px);
  }

  .header{
    flex-direction: row;
    justify-content: space-between;
  }

  .subtitle{
    width: fit-content;
  }

  .button{
    width: fit-content;
  }
}