.header{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;  
  text-align: center;
}

.title{
  margin: 18px 0 10px;
}

.subtitle{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button{
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px 10px;
  border-radius: 12px;
  font-weight: 400;
}

.cards{
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}
