.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 40px 0;  
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.title{
  width: 100%;
  text-align: start;
}

.title h2{
  font-size: clamp(18px, 5vw, 36px);
  width: 100%;
  font-family: "Playfair", serif;;
}

.buttonBox{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.button{
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px 10px;
  border-radius: 12px;
  font-weight: 400;
  max-width: 500px;
  width: 100%;
}

.cards{
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 1024px){
  .container{
    max-width: 1100px;
    width: 100%;
  }

  .header{
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }

  .subtitle{
    width: fit-content;
  }

  .button{
    width: fit-content;
  }
}