.container{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.title{
    font-size: 30px;
    font-weight: 700;
    color: #102239;
    font-family: "Playfair", serif;
    margin: 0 0 20px;
}


.categories{
    display: flex;
    flex-direction: column;
}

.checkbox{ 
    accent-color: #3773cb;
    cursor: pointer;
}

.subtitle{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #102239;
    margin: 0 0 15px;
}

.category{
    display: flex;
    gap: 10px;
    margin: 0 0 8px;
    color: #2b3b50;
    font-size: 15px;
}

.range{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #102239;
    margin: 20px 0 10px;
}

.slide{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.slider{
    -webkit-appearance: none;
    height: 8px;
    border-radius: 10px;
    outline: none;
    background: #3773cb
}

.slider::-webkit-slider-runnable-track {
    height: 6px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #3773cb;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
}