
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 500px;
  width: 100%;
}

.link{
  width: 100%;
}

.content{
  width: 100%;
}

.image{
  width: 100%;
  max-width: 500px;
}

.image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.title{
  display: flex;
  gap: 10px;
  align-items: start;
}

.title p{
  margin: 0;
}

.price{
  font-size: 18px;
}

@media screen and (min-width: 1024px){

  .container{
    max-width: 100%;
  }

  .cards{
    width: 100%;
  }
}