.product-card__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
    width: 100%;
    padding: 0 1rem;
}

.product-card__content{
    width: 100%;
}

.product-card__img{
    overflow: hidden;
    border-radius: 14px;
    width: 100%;
    height: 460px;
    margin: 20px 0 20px;
    box-shadow: 0px 0px 8px rgb(87, 87, 87);
    cursor: pointer;
}

.product-card__img img{
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
}

.product-card__img img:hover{
    transform: scale(1.15);
}

.product-card__title{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #102239;
    width: 100%;
}

.product-card__title p{
    font-size: 20px;
    font-weight: 500;
}

.product-card__title span{
    font-size: 18px;
    font-weight: 700;
}

.product_link{
    width: 100%;
    text-decoration: none;
}


@media screen and (min-width: 2000px){

    .product-card__title p{
    font-size: 24px;
}

.product-card__title span{
    font-size: 22px;
}
}
