
.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.title{
  display: flex;
  gap: 10px;
  align-items: start;
  padding: 8px 0;
}

.title p{
  margin: 0;
}

.price{
  font-size: 18px;
}