.menu__container{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 40px;
    height: 100%;
    width: 100%;
    padding: 440px 200px 80px 200px;
}

.menu__filter-container{
    position: sticky;
    top: 80px;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0px 0px 2px black;
    height: 100%;
    width: 300px;
}

.menu__list{
    width: 100%;

}