.hero-container {
    height: 100vh;
    background: linear-gradient(to bottom right,
            rgba(240, 244, 255, 0.3),
            #ffffff,
            rgba(0, 86, 214, 0.2));
}

.hero__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;   
    padding: 140px 200px 80px;
}

.hero__titles-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    height: 500px;
    gap: 30px;
}

.hero__title{
    font-family: "Playfair", serif;
    font-size: 82px;
    font-weight: 800;
    line-height: 1.1;
    color: #102139;
}

.hero__description{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    line-height: 1.6;
    color: #5c6b7a;
    max-width: 520px;
}

.hero__content button {
    width: fit-content;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background-color: #003d89;
    color: #ffffff;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.hero__content button:hover {
    background-color: #002f6b;
    transform: translateY(-2px);
}

.hero__image-container{
    width: 500px;
    height: 500px;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 2px;
}

.hero__image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (min-width: 1750px){
    .hero__content{
        padding: 140px 320px 80px;
    }


    .hero__image-container{
    width: 520px;
    height: 520px;
}
}

@media screen and (min-width: 2000px){

    .hero__titles-container{
        max-width: 600px;
        height: 600px;
    }

    .hero__title{
        font-size: 100px;
    }

    .hero__description{
        font-size: 26px;
    }

    .hero__titles-container button{
        font-size: 20px;
    }

    .hero__image-container{
        width: 600px;
        height: 600px;
    }
}

@media screen and (min-width: 2200px){

    .hero__content{
        padding: 140px 400px 80px;
    }

    .hero__titles-container{
        max-width: 650px;
        height: 650px;
    }

    .hero__title{
        font-size: 105px;
    }

    .hero__description{
        font-size: 30px;
    }

    .hero__titles-container button{
        font-size: 25px;
    }

    .hero__image-container{
        width: 650px;
        height: 650px;
    }
}

@media screen and (min-width: 2500px){

    .hero__content{
        padding: 140px 530px 80px;
    }
}

@media screen and (min-width: 2800px){

    .hero__content{
        padding: 140px 650px 80px;
    }

    .hero__titles-container{
        max-width: 700px;
        height: 700px;
    }

    .hero__title{
        font-size: 115px;
    }

    .hero__description{
        font-size: 40px;
    }

    .hero__titles-container button{
        font-size: 35px;
    }

    .hero__image-container{
        width: 700px;
        height: 700px;
    }
}

