.container {
  background: linear-gradient(to bottom right,
      rgba(240, 244, 255, 0.3),
      #ffffff,
      rgba(0, 86, 214, 0.2));
  padding: var(--padding-horizontal) 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 450px;
}

.titles{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0 0 20px;
}

.title{
  font-family: var(--font-title);
  font-weight: 800;
  font-size: 32px;
  color: var(--color-text-dark);
  margin: 0;
}

.description{
  font-size: clamp(12px, 3vw, 18px);
  color: var(--color-text-secondary);
  margin: 0;
  text-align: center;
}

.button{
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: 600;
  max-width: 500px;
  width: 100%;
}

.imageBox{
  display: flex;
  justify-content: center;
  max-width: 450px;
  max-height: 450px;
}

.imageBox img {
  width: 100%;
  border-radius: 24px;
  object-fit: cover;
}

@media screen and (min-width: 1024px){
    .content {
      max-width: 1100px;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
  }

  .titles{
    justify-content: center;
    max-width: 450px;
  }

  .title{
    font-size: 70px;
  }

  .button{
    max-width: 100%;
  }
}

