.container {
  text-align: center;
  margin: 40px 0;
}

.content{
  max-width: 450px;
}

.title {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: clamp(24px, 5vw, 36px);
}

.description {
  display: flex;
  justify-content: center;
  font-size: clamp(12px, 3vw, 18px);
  width: 100%;
}

.description p{
  text-align: justify ;
}

@media screen and (min-width: 1024px){

  .content{
    max-width: 1100px;
  }

  .title{
    text-align: start;
    margin: 40px 0;
  }

  .description{
    justify-content: flex-start;
  }

  .description p{
    width: 100%;
  }
}