.container {
  text-align: center;
  margin: 40px 0;
}

.title {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: clamp(24px, 5vw, 36px);
}

.description {
  display: flex;
  justify-content: center;
  font-size: clamp(12px, 3vw, 18px);
  width: 100%;
}

.description p{
  max-width: clamp(500px, 49vw, 1000px);
  text-align: justify ;
}