.product-card__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.product-card__img{
    overflow: hidden;
    border-radius: 14px;
    width: 350px;
    height: 450px;
    margin: 20px 0 20px;
    box-shadow: 0px 0px 8px rgb(87, 87, 87);
    cursor: pointer;
}

.product-card__img img{
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
}

.product-card__img img:hover{
    transform: scale(1.15);
}

.product-card__title{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #102239;
}

.product-card__title p{
    font-size: 20px;
    font-weight: 500;
}

.product-card__title span{
    font-size: 18px;
    font-weight: 700;
}
