.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 200px;
}

.header__brand-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-bar__container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 25px;
    padding: 0 30px;
}

.search-bar{
    width: 350px;
    height: 100%;
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 80px;
}

.header__logo-container{
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 24px;
}

.header__logo-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.marca{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Playfair", serif;
    font-size: 28px;
    font-weight: 700;
    color: #102239;
    text-decoration: none;
}

.cart{
    text-decoration: none;
}

.header-nav__links{
    display: flex;
    gap: 40px;
}

.header-nav__links a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.header__button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    border-radius: 12px;
    border: 2px solid #cfd8e5;
    background-color: transparent;
    gap: 10px;
    cursor: pointer;
}

.header__button:hover{
    background-color: #003d89;
    color: white;
    transition: 0.2s;
}

@media screen and (max-width: 1490px){

    .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px;
}

    .marca{
        font-size: 24px;
    }

    .header-nav__links a{
        font-size: 14px;
    }
}