.container {
  background-color: #f5f5f5;
  padding: 20px 0 40px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  font-family: var(--font-title);
  font-weight: 700;
  padding: 8px 0;
  max-width: clamp(500px, 49vw, 1000px);
  width: 100%;
}

.brand span{
  font-size: 20px;
  font-weight: 600;
}

.title{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  width: 100%;
}

.tagline{
  margin: 5px;
}

.list{
  display: none;
}