.footer__container{
    padding: 0px 200px;
}

.footer__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 0 40px;
    height: 100%;
    border-top: 2px #cfd8e5 solid;
}

.footer__section{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 15px;
}

.footer__brand{
    font-size: 32px;
    font-weight: 700;
    font-family: "Playfair", serif;
}

.footer__tagline{
    font-size: 16px;
    color: #586475;
}

.footer__section-list-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
    color: #586475;
}

.footer__section-title{ 
    font-size: 18px;
    font-weight: 600;
}

.whatsapp__anchor{
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: #25d366;
    gap: 5px;
}

