.combos__container{
    padding: 0 200px 80px;
}

.combos__title{
    font-size: 48px;
    font-family: "Playfair", serif;
    font-weight: 700;
    color: #102239;
}

@media screen and (min-width: 1750px){
    .combos__container{
        padding: 0 320px 80px;
    }
}

@media screen and (min-width: 2000px){
    .combos__title{
        font-size: 62px;
    }
}

@media screen and (min-width: 2200px){
    .combos__container{
        padding: 0 400px 80px;
    }
}

@media screen and (min-width: 2500px){
    .combos__container{
        padding: 0 530px 80px;
    }
}

@media screen and (min-width: 2800px){
    .combos__container{
        padding: 0 650px 80px;
    }
}